<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ppaccount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ppaccount" data-rule="required" class="form-control" name="row[ppaccount]" type="text" value="{$row.ppaccount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('B站域名(不带http ,www)')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-b_domain" data-rule="" class="form-control" name="row[b_domain]" type="text" value="{$row.b_domain|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" data-rule="required" class="form-control " rows="5" name="row[remark]" cols="50">{$row.remark|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totalorder')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalorder" data-rule="required" class="form-control" name="row[totalorder]" type="number" value="{$row.totalorder|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Totalamount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalamount" data-rule="required" class="form-control" name="row[totalamount]" type="number" value="{$row.totalamount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Orderbyday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-orderbyday" data-rule="required" class="form-control" name="row[orderbyday]" type="number" value="{$row.orderbyday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amountbyday')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amountbyday" data-rule="required" class="form-control" name="row[amountbyday]" type="number" value="{$row.amountbyday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Domain_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-domain_id" data-rule="required" data-source="domainmanage/index" class="form-control selectpage" name="row[domain_id]" type="text" value="{$row.domain_id|htmlentities}"  data-primary-key="domain_id">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('导入批号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-block_number"  class="form-control" name="row[block_number]" type="number" value="{$row.block_number|htmlentities}">
        </div>
    </div>
   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('付款失败次数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fail_count" data-rule="required" class="form-control" name="row[fail_count]" type="number" value="{$row.fail_count|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('账号|密码')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-account_password"  class="form-control" name="row[account_password]" type="text" value="{$row.account_password|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ip端口')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ip"  class="form-control" name="row[ip]" type="text" value="{$row.ip|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('下线天数配置')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-offline_day_value"  class="form-control" name="row[offline_day_value]" type="number" value="{$row.offline_day_value|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-createdate" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[createdate]" type="text" value="{$row.createdate}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
